* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/Banner.png");
  background-attachment: fixed;
}
.banner {
  width: 100%;
  height: 100vh;
}
.navBar {
  width: 100%;
  height: 10%;
  margin: auto;
  display: flex;
  box-shadow: 0 0 10px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.logo,
li,
ul {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin: 0 60px;
}
.loginbtn {
  opacity: 50%;
}
a {
  text-decoration: none;
  color: black;
  text-transform: none;
  font-size: 17px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
a:hover {
  opacity: 50%;
  transition: 0.3s;
}
button:hover {
  opacity: 50%;
  transition: 0.3s;
}
.email:hover {
  opacity: 50%;
  transition: 0.3s;
}
.password:hover {
  opacity: 50%;
  transition: 0.3s;
}
.fullName:hover {
  opacity: 50%;
  transition: 0.3s;
}
.userName:hover {
  opacity: 50%;
  transition: 0.3s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 500px;
  height: 450px;
  background-color: #2319157e;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.form h1 {
  color: #fff;
  padding-top: 50px;
  font-size: 36px;
  text-align: center;
  font-style: italic;
}

.forgotSign {
  color: #fff;
}

.form .input {
  width: 350px;
  height: 50px;
  margin: 15px 0;
}

.input input {
  width: 100%;
  height: 100%;
  background: transparent;
  background-color: rgb(178, 178, 178);
  border: none;
  outline: none;
  border: 2px solid #0c0c0c00;
  border-radius: 44px;
  font-size: 17px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.input input::placeholder {
  color: #000000;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.btnsignup {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #5c9092;
  font-size: 17px;
  color: white;
}
